Source: ros-indigo-openni-wrapper
Section: misc
Priority: extra
Maintainer: Rares Ambrus <raambrus@kth.se>
Build-Depends: debhelper (>= 9.0.0), default-jdk, freeglut3-dev, libudev-dev, libusb-1.0-0-dev, ros-indigo-catkin, ros-indigo-class-loader, ros-indigo-cv-bridge, ros-indigo-depth-image-proc, ros-indigo-image-proc, ros-indigo-nodelet, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-openni-wrapper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freeglut3-dev, libusb-1.0-0-dev, ros-indigo-class-loader, ros-indigo-cv-bridge, ros-indigo-depth-image-proc, ros-indigo-image-proc, ros-indigo-nodelet, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Description: The openniWrapper package
