Source: ros-kinetic-openni-wrapper
Section: misc
Priority: extra
Maintainer: Rares Ambrus <raambrus@kth.se>
Build-Depends: debhelper (>= 9.0.0), default-jdk, freeglut3-dev, libudev-dev, libusb-1.0-0-dev, ros-kinetic-catkin, ros-kinetic-class-loader, ros-kinetic-cv-bridge, ros-kinetic-depth-image-proc, ros-kinetic-image-proc, ros-kinetic-nodelet, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-openni-wrapper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, freeglut3-dev, libusb-1.0-0-dev, ros-kinetic-class-loader, ros-kinetic-cv-bridge, ros-kinetic-depth-image-proc, ros-kinetic-image-proc, ros-kinetic-nodelet, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: The openniWrapper package
